<h1>Angular Pipes: </h1>

<p>e = {{e}}</p>
<p>number pipe (default): {{e | number}}</p>
<p>number pipe (min 2 integer digits and 1 decimal digit, max 5 decimal digits): {{e | number:'2.1-5'}}</p>

<br />

<p>percentage = {{percentage}}</p>
<p>percent pipe (default): {{percentage | percent}}</p>
<p>percent pipe (min 2 integer digits and 1 decimal digit, max 5 decimal digits): {{percentage | percent:'2.1-5'}}</p>

<br />

<p>money = {{money}}</p>
<p>currency pipe (default): {{money | currency}}</p>
<p>currency pipe (locale-specific): {{money | currency:'CAD'}}</p>

<br />

<p>lowercaseText = {{lowercaseText}}</p>
<p>uppercase pipe (default): {{lowercaseText | uppercase}}</p>

<br />

<p>uppercaseText = {{uppercaseText}}</p>
<p>lowercase pipe (default): {{uppercaseText | lowercase}}</p>

<br />

<p>today = {{today}}</p>
<p>date pipe (default): {{today | date}}</p>
<p>date pipe (medium): {{today | date:'medium'}}</p>
<p>date pipe (short time): {{today | date:'shortTime'}}</p>
<p>date pipe (minutes + seconds): {{today | date:'mm:ss'}}</p>

<br />

<p>str = {{str}}</p>
<p>slice pipe: {{str | slice:0:4}}</p>

<br />

<h1>Custom Pipes: </h1>
<p>person = {{person | json}}</p>
<p>fullName pipe: {{person | fullName}}</p>
